absl-py==2.1.0
audioread==3.0.1
boltons==20.0.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.15.1
charset-normalizer==3.4.0
click==8.1.7
configparser==5.3.0
decorator==5.1.1
dill==0.3.1.1
docker-pycreds==0.4.0
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.36.0
google-auth-oauthlib==0.4.6
gql==0.2.0
graphql-core==1.1
grpcio==1.62.3
hydra-core==0.11.3
idna==3.10
imageio==2.31.2
importlib-metadata==6.7.0
importlib-resources==5.12.0
joblib==1.3.2
librosa==0.7.2
llvmlite==0.31.0
Markdown==3.4.4
MarkupSafe==2.1.5
numba==0.48.0
numpy==1.18.1
nvidia-ml-py3==7.352.0
oauthlib==3.2.2
omegaconf==1.4.1
pandas==1.3.5
Pillow==9.5.0
promise==2.3
protobuf==3.20.3
psutil==6.1.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
python-dateutil==2.9.0.post0
pytorch-lightning==0.7.6
pytorch-ranger==0.1.1
pytz==2024.2
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==2.0.0
resampy==0.3.1
rsa==4.9
scikit-learn==1.0.2
scipy==1.7.3
sentry-sdk==2.18.0
shortuuid==1.0.13
six==1.16.0
smmap==5.0.1
soundfile==0.12.1
subprocess32==3.5.4
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
test-tube==0.7.5
threadpoolctl==3.1.0
torch==1.4.0
torch-optimizer==0.0.1a12
torchaudio==0.4.0
torchvision==0.5.0
tqdm==4.42.1
typing-extensions==4.7.1
urllib3==2.0.7
wandb==0.8.24
watchdog==3.0.0
Werkzeug==2.2.3
zipp==3.15.0
